<div class='row answer-row'>
    <div class='col-md-3'>
        <div class='answer-title'>Answer:</div>
    </div>
    <div class='col-md-9'>
        <span class='answer-hole' *ngFor="let item of answerHoles">{{item}}</span>
        <!--<div class='answer-placeholder' *ngIf="answer != null">{{answer}}</div>-->
        <div class="clear"></div>
    </div>
</div>

<div class='row keyboard-row' *ngIf="keyboards != null">
    <div class='col-md-12'>
        <div class="row keyboard">
            <div class="col-md-12 keyboard-line">
                <span *ngFor="let key of keyboards[0]" class="key" (click)="selectKey(key)">{{key}}</span>


            </div>
            <div class="col-md-12 keyboard-line" *ngIf="keyboards.length == 2">
                <span *ngFor="let key of keyboards[1]" class="key" (click)="selectKey(key)">{{key}}</span>
            </div>

            <center>
                <a (click)="showCharacterList()">Show character list</a>
            </center>
        </div>
    </div>
</div>


<modal  #characterList
    [title]="appTitle"
    [cancelButtonLabel]="characterListmodalSubmitLabel"
    [modalClass]="modalClass"
    [hideCloseButton]="true"
    [closeOnEscape]="true"
    [closeOnOutsideClick]="true">

    <modal-content>
    <img class="img-responsive" src="/app/assets/chart.png">
    </modal-content>
</modal>